.flex {
    display: flex;
}

.items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}